<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"; >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width,
          initial-scale=1.0,
          maximum-scale=1.0,
          user-scalable=no">
    <script th:src="@{js/jquery.min.js}"></script>
    <script src="https://code.highcharts.com.cn/highmaps/highmaps.js"></script>
    <script src="https://data.jianshukeji.com/geochina/cities.js"></script>
    <script th:src="@{framework/Highcharts/code/highcharts.js}"></script>
    <script th:src="@{framework/Highcharts/code/modules/exporting.js}"></script>
    <script th:src="@{framework/Highcharts/code/modules/export-data.js}"></script>
    <script th:src="@{js/china.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.2/proj4.js}"></script>
    <link th:href="@{layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{layui/layui.js}"></script>
</head>
<body>
<div id="container" style="height: 100%;width:100%;position: absolute"></div>
<div id="showTables" style="height: 40%;width:60%;background-color:black;display: none;position: relative;float: contour"></div>
<script>
    // chinaCitys.json 里包含中国一线到三线城市的坐标值及经纬度值
    $.getJSON('https://data.jianshukeji.com/jsonp?filename=geochina/cities.json&callback=?', function(chinaCity) {
        var beijing = chinaCity['北京'],
            shanghai = chinaCity['上海'],
            nanjing = chinaCity['南京'],
            hangzhou=chinaCity['杭州'] ,
            hefei=chinaCity['合肥'] ,
            nanchang=chinaCity['南昌'],
            fuzhou=chinaCity['福州'],
            jinan=chinaCity['济南'] ,
            ningbo=chinaCity['宁波'] ,
            qingdao=chinaCity['青岛'],
            wuxi=chinaCity['无锡'],
            xiamen=chinaCity['厦门'],
            yantai=chinaCity['烟台'],
            jinghua=chinaCity['金华'],
            wenzhou=chinaCity['温州'],
            quanzhou=chinaCity['泉州'],
            changsha=chinaCity['长沙'],
            zhenzhou=chinaCity['郑州'],
            wuhan=chinaCity['武汉'],
            tianjing=chinaCity['天津'],
            shijiazhuang=chinaCity['石家庄'],
            taiyuan=chinaCity['太原'],
            hhht=chinaCity['呼和浩特'],
            xian=chinaCity['西安'],
            lanzhou=chinaCity['兰州'],
            yinchuan=chinaCity['银川'],
            guangzhou=chinaCity['广州'],
            haikou=chinaCity['海口'],
            huizhou=chinaCity['惠州'],
            zhuhai=chinaCity['珠海'],
            foshan=chinaCity['佛山'],
            dongguan=chinaCity['东莞'],
            chengdu=chinaCity['成都'],
            kunming=chinaCity['昆明'],
            chongqing=chinaCity['重庆'],
            guiyang=chinaCity['贵阳'],
            hrb=chinaCity['哈尔滨'],
            changchun=chinaCity['长春'],
            shenyang=chinaCity['沈阳'],
            dalian=chinaCity['大连'],
            data = [{
                // 直接用转换好的坐标位置
                x: beijing.x,
                y: -beijing.y,
                name: beijing.name,
                z: 60934.34
            },{
                x: shanghai.x,
                y: -shanghai.y,
                name: shanghai.name,
                z: 53046.02
            },{
                x:hefei.x,
                y:-hefei.y,
                name:hefei.name,
                z: 15927.36
            },{
                x:nanjing.x,
                y:-nanjing.y,
                name:nanjing.name,
                z: 31079.87
            },{
                x:hangzhou.x,
                y:-hangzhou.y,
                name:hangzhou.name,
                z: 33256.40
            },{
                x:nanchang.x,
                y:-nanchang.y,
                name:nanchang.name,
                z: 13723.50
            },{
                x:fuzhou.x,
                y:-fuzhou.y,
                name:fuzhou.name,
                z: 25285.81
            },{
                x:jinan.x,
                y:-jinan.y,
                name:jinan.name,
                z: 18721.12
            },{
                x:qingdao.x,
                y:-qingdao.y,
                name:qingdao.name,
                z: 22792.62
            },{
                x:ningbo.x,
                y:-ningbo.y,
                name:ningbo.name,
                z: 19924.93
            },{
                x:wuxi.x,
                y:-wuxi.y,
                name:wuxi.name,
                z: 15882.51
            },{
                x:xiamen.x,
                y:-xiamen.y,
                name:xiamen.name,
                z: 41725.50
            },{
                x:yantai.x,
                y:-yantai.y,
                name:yantai.name,
                z: 12380.45
            },{
                x:jinghua.x,
                y:-jinghua.y,
                name:jinghua.name,
                z: 16797.65
            },{
                x:wenzhou.x,
                y:-wenzhou.y,
                name:wenzhou.name,
                z: 21727.49
            },{
                x:quanzhou.x,
                y:-quanzhou.y,
                name:quanzhou.name,
                z: 12292.09
            },{
                x:changsha.x,
                y:-changsha.y,
                name:changsha.name,
                z: 11490.55
            },{
                x:zhenzhou.x,
                y:-zhenzhou.y,
                name:zhenzhou.name,
                z: 14664.50
            },{
                x:wuhan.x,
                y:-wuhan.y,
                name:wuhan.name,
                z: 17770.00
            },{
                x:tianjing.x,
                y:-tianjing.y,
                name:tianjing.name,
                z: 24612.71
            },{
                x:shijiazhuang.x,
                y:-shijiazhuang.y,
                name:shijiazhuang.name,
                z: 16210.40
            },{
                x:taiyuan.x,
                y:-taiyuan.y,
                name:taiyuan.name,
                z: 12957.57
            },{
                x:hhht.x,
                y:-hhht.y,
                name:hhht.name,
                z: 12058.10
            },{
                x:xian.x,
                y:-xian.y,
                name:xian.name,
                z: 15363.39
            },{
                x:yinchuan.x,
                y:-yinchuan.y,
                name:yinchuan.name,
                z: 5702.48
            },{
                x:lanzhou.x,
                y:-lanzhou.y,
                name:lanzhou.name,
                z: 12847.53
            },{
                x:guangzhou.x,
                y:-guangzhou.y,
                name:guangzhou.name,
                z:32530.44
            },{
                x:haikou.x,
                y:-haikou.y,
                name:haikou.name,
                z: 15966.02
            },{
                x:huizhou.x,
                y:-huizhou.y,
                name:huizhou.name,
                z: 11163.79
            },{
                x:zhuhai.x,
                y:-zhuhai.y,
                name:zhuhai.name,
                z: 22728.52
            },{
                x:foshan.x,
                y:-foshan.y,
                name:foshan.name,
                z: 16838.65
            },{
                x:dongguan.x,
                y:-dongguan.y,
                name:dongguan.name,
                z: 19836.66
            },{
                x:chengdu.x,
                y:-chengdu.y,
                name:chengdu.name,
                z: 15244.68
            },{
                x:kunming.x,
                y:-kunming.y,
                name:kunming.name,
                z: 12856.57
            },{
                x:chongqing.x,
                y:-chongqing.y,
                name:chongqing.name,
                z: 13243.19
            },{
                x:guiyang.x,
                y:-guiyang.y,
                name:guiyang.name,
                z: 10668.57
            },{
                x:hrb.x,
                y:-hrb.y,
                name:hrb.name,
                z: 9345.23
            },{
                x:changchun.x,
                y:-changchun.y,
                name:changchun.name,
                z: 11021.00
            },{
                x:dalian.x,
                y:-dalian.y,
                name:dalian.name,
                z: 14144.11
            }, {
                x: shenyang.x,
                y: -shenyang.y,
                name: shenyang.name,
                z: 10948.88
            }];
        var map = new Highcharts.Map('container', {
            title: {
                text: '房价与职业分析平台'
            },
            mapNavigation: {
                enabled: true,
                enableDoubleClickZoomTo: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },
            colorAxis: {
                min: 1,
                type: 'logarithmic',
                minColor: '#EEEEFF',
                maxColor: '#000022',
                stops: [
                    [0, '#EFEFFF'],
                    [0.67, '#4444FF'],
                    [1, '#000022']
                ]
            },
            tooltip: {
                useHTML: true,
                formatter: function() {
                    return this.point.name + ' 房价 ' + this.point.z;
                }
            },
            plotOptions: {
                mapbubble: {
                    point: {
                        events: {
                            click: function() {
                                //alert(this.name);
                                var data = this.name;
                                layui.use("layer", function(){
                                    var layer = layui.layer;
                                    layer.open({
                                        type: 2,
                                        title: [data.substr(0, data.length - 1) + '房价与职业分析表','font-weight:bold;'],
                                        content: ["/cityName"],
                                        offset: 'auto',
                                        shadeClose: true,
                                        shade: false,
                                        area: ['700px', '500px'],
                                        success: function (layero, index) {
                                            // 获取子页面的iframe
                                            var iframe = window['layui-layer-iframe' + index];
                                            // 向子页面的全局函数child传参
                                            iframe.child(data);
                                        }
                                    });
                                })
                            }
                        }
                    }
                }
            },
            series: [{
                // 空数据列，用于展示底图
                mapData: Highcharts.maps['cn/china'],
                showInLegend: false
            }, {
                type: 'mapbubble',
                name: '中国主要城市房价',
                data: data,
                maxSize: '5%',
                minSize: 10,
                joinBy: 'name',
                states: {
                    hover: {
                        color: '#BADA55'
                    }
                }
            }]
        });
    });

</script>
</body>
</html>