<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"; >
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,
          initial-scale=1.0,
          maximum-scale=1.0,
          user-scalable=no">
    <title>主页</title>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{framework/Echarts/code/modules/echarts-en.js}"></script>
    <link th:href="@{layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{layui/layui.js}"></script>
    <style>
        html,body{
            height: 100%;
        }
        #box{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content:center;
            flex-wrap:wrap;
        }
        .chart{
            width:32%;
            height:50%;
            padding:3px;
        }
    </style>

</head>

<body>
<div id="box" style="height:600px;width: 900px;background-color:grey;position: absolute">
    <div id="container_first" class="chart" style="background-color:white"></div>
    <div id="container_second" class="chart" style="background-color:white"></div>
    <div id="container_third" class="chart" style="background-color:white"></div>
    <div id="container_forth" class="chart" style="background-color:white"></div>
    <div id="container_fifth" class="chart" style="background-color:white"></div>
    <div id="container_sixth" class="chart" style="background-color:white"></div>
</div>
</body>

<script>
    function child(d) {

        $(document).ready(function () {

            //表1 城区-租价表
            $.ajax({
                type: "POST",
                url: "/dataController/LZHarea",
                success: function (msg) {
                    var districts = [];
                    var rentPrice = [];
                    for (i = 0; i < msg.length; i++) {
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            districts.push(msg[i].areaName);
                            rentPrice.push(msg[i].areaRentprice);
                        }
                    }
                    var rentPriceChart = echarts.init(document.getElementById('container_first'));
                    var dataShadow = [];
                    for (var i = 0; i < rentPrice.length; i++) {
                        dataShadow.push(500);
                    }
                    <!--城区 租价排行-->
                    var option1 = {
                        title: {
                            text: "租房价格排行",
                            subtext: 'Rent price ranking in districts of city'
                        },

                        xAxis: {
                            data: districts,
                            textStyle: {
                                color: '#000'
                            },
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                show: false
                            },
                            axisLabel: {
                                rotate: 40
                            }
                        },
                        yAxis: {
                            axisLine: {
                                show: false
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                textStyle: {
                                    color: '#999'
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
                        },
                        dataZoom: [
                            {
                                type: 'inside'
                            }
                        ],
                        grid:{
                            left: 50,
                            top: 78,
                            right: 40,
                            bottom: 40,
                        },
                        series: [
                            {
                            type: 'bar',
                            itemStyle: {
                                color: 'rgba(0,0,0,0.05)'
                            },
                            barGap: '-100%',
                            barCategoryGap: '40%',
                            data: dataShadow,
                            animation: false
                            },
                            {
                                type: 'bar',
                                itemStyle: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#83bff6'},
                                            {offset: 0.5, color: '#188df0'},
                                            {offset: 1, color: '#188df0'}
                                        ]
                                    )
                                },
                                emphasis: {
                                    itemStyle: {
                                        color: new echarts.graphic.LinearGradient(
                                            0, 0, 0, 1,
                                            [
                                                {offset: 1, color: '#F5A9A9'},
                                                {offset: 0.5, color: '#FE2E2E'},
                                                {offset: 0, color: '#DF0101'}
                                            ]
                                        )
                                    }
                                },
                                data: rentPrice
                            }
                        ]
                    };
                    rentPriceChart.setOption(option1);
                    /*
                    rentPriceChart.on('click', function (params) {
                        layui.use("layer", function(){
                            parent.layer.open({
                                type: 2,
                                shadeClose: true,//点击遮罩关闭
                                shade: [0.3, '#000',true],
                                closeBtn:0,//删除关闭按钮
                                area: ['700px', '600px'],
                                x:"center",
                                y:"center",
                            });
                        })
                    });*/
                }
            });


            //表2 城市售数比例
            $.ajax({
                type: "POST",
                url: "/dataController/areaSold",
                success: function (msg) {
                    var data = [];
                    var count = 0;
                    //console.log(msg);
                    for (i = 0; i < msg.length; i++) {
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            count++;
                            if (count >= 6)
                                break;
                            newData = {name: ' ', value: 11.84};
                            newData.name = msg[i].areaName;
                            newData.value = msg[i].areaSoldnum;
                            data.push(newData);
                        }
                    }
                    var soldNumChart = echarts.init(document.getElementById('container_second'));
                    <!--租房数量占比-->
                    var option2 = {
                        title: {
                            text: '城区售房数比例',
                            subtext: 'Share of sold housing in districts of city',
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        visualMap: {
                            show: false,
                            min: 80,
                            max: 600,
                            inRange: {
                                colorLightness: [0, 0.5]
                            }
                        },
                        grid: {
                            left: 50,
                            top: 78,
                            right: 40,
                            bottom: 40,
                        },
                        series: [
                            {
                                name: '售房数比例',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '50%'],
                                data: data.sort(function (a, b) {
                                    return a.value - b.value;
                                }),
                                roseType: 'radius',
                                label: {
                                    color: '#000'
                                },
                                labelLine: {
                                    lineStyle: {
                                        color: '#000'
                                    },
                                    smooth: 0.2,
                                    length: 10,
                                    length2: 20
                                },
                                animationType: 'scale',
                                animationEasing: 'elasticOut',
                                animationDelay: function (idx) {
                                    return Math.random() * 200;
                                }
                            }
                        ]
                    };
                    soldNumChart.setOption(option2);
                    /*
                    soldNumChart.on('click', function (params) {
                        layui.use("layer", function () {
                            parent.layer.open({
                                type: 2,
                                shadeClose: true,//点击遮罩关闭
                                shade: [0.3, '#000', true],
                                closeBtn: 0,//删除关闭按钮
                                area: ['700px', '600px'],
                                x: "center",
                                y: "center",
                            });
                        })
                    });*/
                }
            });

            //表3 所有表
            $.ajax({
                type: "POST",
                url: "/dataController/LZHcity",
                success: function (msg) {
                    var name = [], value = [], cnt = 1, j = 0;
                    //console.log(msg);
                    for (i = 0; i < msg.length; i++) {
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            j = i;
                        }
                    }
                    while (cnt <= 7) {
                        //console.log(newData);
                        if (cnt == 1) {
                            //新房售价
                            name.push("新房售价(元/㎡)");
                            value.push(msg[j].citySoldprice);
                            cnt++;
                            continue;

                        }
                        if (cnt == 2) {
                            //新房售数
                            name.push("新房售数(间)");
                            value.push(msg[j].citySoldnum);
                            cnt++;
                            continue;

                        }
                        if (cnt == 3) {
                            //租价
                            name.push("租价(元/月)");
                            value.push(msg[j].cityRentprice);
                            cnt++;
                            continue;


                        }
                        if (cnt == 4) {
                            //组数
                            name.push("租数(间)");
                            value.push(msg[j].cityRentnum);
                            cnt++;
                            continue;

                        }
                        if (cnt == 5) {
                            //职价
                            name.push("职业平均工资(元/月)");
                            value.push(msg[j].averageTrendprice);
                            cnt++;
                            continue;

                        }
                        if (cnt == 6) {
                            //职数
                            name.push("职业数量(人)");
                            value.push(msg[j].averageTrendnum);
                            cnt++;
                            continue;
                        }
                        if (cnt == 7) {
                            printSecond(name, value);
                            break;
                        }

                    }
                    function printSecond(name, value) {
                        var informationChart = echarts.init(document.getElementById('container_third'));
                        <!--城区信息表-->
                        var option3 = {
                            title: {
                                text: "城区信息表",
                                subtext: 'Information of city'
                            },

                            xAxis: {
                                data: name,
                                textStyle: {
                                    color: '#000'
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLine: {
                                    show: false
                                },
                                axisLabel: {
                                    rotate: 40
                                }
                            },
                            yAxis: {
                                axisLine: {
                                    show: false
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLabel: {
                                    textStyle: {
                                        color: '#999'
                                    }
                                }
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
                            },
                            dataZoom: [
                                {
                                    type: 'inside'
                                }
                            ],
                            grid: {
                                left: 50,
                                top: 78,
                                right: 40,
                                bottom: 40,
                            },
                            series: [
                                {
                                    type: 'bar',
                                    itemStyle: {
                                        color: new echarts.graphic.LinearGradient(
                                            0, 0, 0, 1,
                                            [
                                                {offset: 0, color: '#bce672'},
                                                {offset: 0.5, color: '#9ed048'},
                                                {offset: 1, color: '#96ce54'}
                                            ]
                                        )
                                    },
                                    emphasis: {
                                        itemStyle: {
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1,
                                                [
                                                    {offset: 1, color: '#83bff6'},
                                                    {offset: 0.5, color: '#188df0'},
                                                    {offset: 0, color: '#188df0'}
                                                ]
                                            )
                                        }
                                    },
                                    data: value
                                }
                            ]
                        };
                        informationChart.setOption(option3);
                        /*
                        informationChart.on('click', function (params) {
                            layui.use("layer", function(){
                                parent.layer.open({
                                    type: 2,
                                    shadeClose: true,//点击遮罩关闭
                                    shade: [0.3, '#000',true],
                                    closeBtn:0,//删除关闭按钮
                                    area: ['700px', '600px'],
                                    x:"center",
                                    y:"center",
                                });
                            })
                        });*/
                    }
                }
            });

            //表4 城区售价排行
            $.ajax({
                type: "POST",
                url: "/dataController/areaSold",
                success: function (msg) {
                    var districts = [];
                    var areaSoldprice = [];
                    for (i = 0; i < msg.length; i++) {
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            districts.push(msg[i].areaName);
                            areaSoldprice.push(msg[i].areaSoldprice);
                        }
                    }
                    var soldPriceChart = echarts.init(document.getElementById('container_forth'));
                    var dataShadow = [];
                    for (var i = 0; i < areaSoldprice.length; i++) {
                        dataShadow.push(500);
                    }
                    <!--城区 售价排行-->
                    var option4 = {
                        title: {
                            text: "售房价格排行",
                            subtext: 'Sold price ranking in districts of city'
                        },

                        xAxis: {
                            data: districts,
                            textStyle: {
                                color: '#000'
                            },
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                show: false
                            },
                            axisLabel: {
                                rotate: 40
                            }
                        },
                        yAxis: {
                            axisLine: {
                                show: false
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                textStyle: {
                                    color: '#999'
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
                        },
                        dataZoom: [
                            {
                                type: 'inside'
                            }
                        ],
                        grid:{
                            left: 50,
                            top: 78,
                            right: 40,
                            bottom: 40,
                        },
                        series: [
                            {
                                type: 'bar',
                                itemStyle: {
                                    color: 'rgba(0,0,0,0.05)'
                                },
                                barGap: '-100%',
                                barCategoryGap: '40%',
                                data: dataShadow,
                                animation: false
                            },
                            {
                                type: 'bar',
                                itemStyle: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#bce672'},
                                            {offset: 0.5, color: '#9ed048'},
                                            {offset: 1, color: '#96ce54'}
                                        ]
                                    )
                                },
                                emphasis: {
                                    itemStyle: {
                                        color: new echarts.graphic.LinearGradient(
                                            0, 0, 0, 1,
                                            [
                                                {offset: 1, color: '#83bff6'},
                                                {offset: 0.5, color: '#188df0'},
                                                {offset: 0, color: '#188df0'}
                                            ]
                                        )
                                    }
                                },
                                data: areaSoldprice
                            }
                        ]
                    };
                    soldPriceChart.setOption(option4);
                    /*
                    soldPriceChart.on('click', function (params) {
                        layui.use("layer", function(){
                            parent.layer.open({
                                type: 2,
                                shadeClose: true,//点击遮罩关闭
                                shade: [0.3, '#000',true],
                                closeBtn:0,//删除关闭按钮
                                area: ['700px', '600px'],
                                x:"center",
                                y:"center",
                            });
                        })
                    });*/
                }
            });

            //表5. 城区-职数表
            $.ajax({
                type: "POST",
                url: "/dataController/Trend",
                success: function (msg) {
                    var occupation = [];
                    var salary = [];
                    for (i = 0; i < msg.length; i++) {
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            occupation.push(msg[i].trendName);
                            salary.push(msg[i].trendPrice);
                        }
                    }
                    var salaryChart = echarts.init(document.getElementById('container_fifth'));
                    <!--城区 工资表-->
                    var option5 = {
                        title: {
                            text: "职业工资排行",
                            subtext: 'Salary ranking of occupation'
                        },

                        xAxis: {
                            data: occupation,
                            textStyle: {
                                color: '#000'
                            },
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                show: false
                            },
                            axisLabel: {
                                rotate: 40
                            }
                        },
                        yAxis: {
                            axisLine: {
                                show: false
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                textStyle: {
                                    color: '#999'
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
                        },
                        dataZoom: [
                            {
                                type: 'inside'
                            }
                        ],
                        grid:{
                            left: 50,
                            top: 78,
                            right: 40,
                            bottom: 40,
                        },
                        series: [
                            {
                                type: 'bar',
                                itemStyle: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 1, color: '#F5A9A9'},
                                            {offset: 0.5, color: '#FE2E2E'},
                                            {offset: 0, color: '#DF0101'}
                                        ]
                                    )
                                },
                                emphasis: {
                                    itemStyle: {
                                        color: new echarts.graphic.LinearGradient(
                                            0, 0, 0, 1,
                                            [
                                                {offset: 0, color: '#bce672'},
                                                {offset: 0.5, color: '#9ed048'},
                                                {offset: 1, color: '#96ce54'}
                                            ]
                                        )
                                    }
                                },
                                data: salary
                            }
                        ]
                    };
                    salaryChart.setOption(option5);
                    /*
                    salaryChart.on('click', function (params) {
                        layui.use("layer", function(){
                            parent.layer.open({
                                type: 2,
                                shadeClose: true,//点击遮罩关闭
                                shade: [0.3, '#000',true],
                                closeBtn:0,//删除关闭按钮
                                area: ['700px', '600px'],
                                x:"center",
                                y:"center",
                            });
                        })
                    });*/
                }
            });//ajax

            //表6 城区-职价表
            $.ajax({
                type: "POST",
                url: "/dataController/Trend",
                success: function (msg) {
                    var data = [];
                    for (i = 0; i < msg.length; i++) {
                        var newData = {name: ' ', value: 11.84};
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            newData.name = msg[i].trendName;
                            newData.value = msg[i].trendNum;
                            data.push(newData)
                        }
                    }
                    var occupationChart = echarts.init(document.getElementById('container_sixth'));
                    <!--职业占比-->
                    var option6 = {
                        title: {
                            text: '职位份额',
                            subtext: 'Share of occupation in the city',
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        visualMap: {
                            show: false,
                            min: 80,
                            max: 600,
                            inRange: {
                                colorLightness: [0, 0.5]
                            }
                        },
                        grid: {
                            left: 50,
                            top: 78,
                            right: 40,
                            bottom: 40,
                        },
                        color : [ '#00FFFF', '#00FF00', '#667EEA', '#FF8C00' ],
                        series: [
                            {
                                name: '职位份额',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '50%'],
                                data: data.sort(function (a, b) {
                                    return a.value - b.value;
                                }),
                                roseType: 'radius',
                                label: {
                                    color: '#255'
                                },
                                labelLine: {
                                    lineStyle: {
                                        color: '#255'
                                    },
                                    smooth: 0.2,
                                    length: 10,
                                    length2: 20
                                },
                                animationType: 'scale',
                                animationEasing: 'elasticOut',
                                animationDelay: function (idx) {
                                    return Math.random() * 200;
                                }
                            }
                        ]
                    };
                    occupationChart.setOption(option6);
                    /*
                    occupationChart.on('click', function (params) {
                        layui.use("layer", function () {
                            parent.layer.open({
                                type: 2,
                                shadeClose: true,//点击遮罩关闭
                                shade: [0.3, '#000', true],
                                closeBtn: 0,//删除关闭按钮
                                area: ['700px', '600px'],
                                x: "center",
                                y: "center",
                            });
                        })
                    });*/
                }
            });//ajax

        });//documet.readyfunction

    }//function
</script>


</html>
