<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"; >
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,
          initial-scale=1.0,
          maximum-scale=1.0,
          user-scalable=no">
    <title>主页</title>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{framework/Highcharts/code/highcharts.js}"></script>
    <script th:src="@{framework/Highcharts/code/modules/exporting.js}"></script>
    <script th:src="@{framework/Highcharts/code/modules/export-data.js}"></script>
    <link th:href="@{layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{layui/layui.js}"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

    </style>

</head>

<body>
<div id="box" style="height:600px;width: 900px;background-color: grey;position: absolute">
    <div id="container_first" style="width:296px;height:296px;position: relative;float: left ;margin: 2px"></div>
    <div id="container_second" style="width:296px;height:296px;position: relative;float: left ;margin: 2px"></div>
    <div id="container_third" style="width:296px;height:296px;position: relative;float: left ;margin: 2px"></div>
    <div id="container_forth" style="width:296px;height:296px;position: relative;float: left ;margin: 2px"></div>
    <div id="container_fifth" style="width:296px;height:296px;position: relative;float: left ;margin: 2px"></div>
    <div id="container_sixth" style="width:296px;height:296px;position: relative;float: left ;margin: 2px"></div>
</div>
</body>

<script>
    function child(d) {

        $(document).ready(function () {

            //表1 城区-租价表
            $.ajax({
                type: "POST",
                url: "/dataController/LZHarea",
                success: function (msg) {
                    var data = [];
                    for (i = 0; i < msg.length; i++) {
                        var newData = {name: ' ', y: 11.84};
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            newData.name = msg[i].cityName + "-" + msg[i].areaName;
                            newData.y = msg[i].areaRentprice;
                            data.push(newData)
                        }
                    }
                    <!--城区 平均租价-->
                    Highcharts.chart('container_first', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '租房价格排行'
                        },
                        subtitle: {
                            text: 'RentPrice'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: '房价（元/月）'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            series: {
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.y}'
                                }
                            }
                        },

                        tooltip: {
                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
                        },

                        series: [
                            {
                                name: "TOP10",
                                colorByPoint: true,
                                data: data
                            }
                        ]
                    });
                }
            });


            //表2 表4 城市平均售数量 城市平均售价
            $.ajax({
                type: "POST",
                url: "/dataController/areaSold",
                success: function (msg) {
                    var data = [];
                    //console.log(msg);
                    for (i = 0; i < msg.length; i++) {
                        var newData = {name: ' ', y: 11.84};
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            newData.name = msg[i].cityName + "-" + msg[i].areaName;
                            newData.y = msg[i].areaSoldnum;
                            data.push(newData)
                        }
                    }
                    Highcharts.chart('container_second', {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: '城区售数份额'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                    style: {
                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'Brands',
                            colorByPoint: true,
                            data: data
                        }]
                    });
                    data = [];
                    for (i = 0; i < msg.length; i++) {
                        newData = {name: ' ', y: 11.84};
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            newData.name = msg[i].cityName + "-" + msg[i].areaName;
                            newData.y = msg[i].areaSoldprice;
                            data.push(newData)
                        }
                    }
                    <!--城区 平均租价-->
                    Highcharts.chart('container_forth', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '城区售价表'
                        },
                        subtitle: {
                            text: 'CitySoldPrice'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: '房价（元/㎡）'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            series: {
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.y}'
                                }
                            }
                        },

                        tooltip: {
                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
                        },

                        series: [
                            {
                                name: "TOP10",
                                colorByPoint: true,
                                data: data
                            }
                        ]
                    });
                }//first-success
            });//first-ajax

            //表3 所有表
            $.ajax({
                type: "POST",
                url: "/dataController/LZHcity",
                success: function (msg) {
                    var data = [], cnt = 1, j = 0;
                    //console.log(msg);
                    for (i = 0; i < msg.length; i++) {
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            j = i;
                        }
                    }
                    while (cnt <= 7) {
                        var newData = {name: ' ', y: 11.84};
                        //console.log(newData);
                        if (cnt == 1) {
                            //新房售价
                            newData.name = "新房售价(元/㎡)";
                            newData.y = msg[j].citySoldprice;
                            cnt++;
                            data.push(newData)
                            continue;

                        }
                        if (cnt == 2) {
                            //新房售数
                            newData.name = "新房售数(间)";
                            newData.y = msg[j].citySoldnum;
                            cnt++;
                            data.push(newData)
                            continue;

                        }
                        if (cnt == 3) {
                            //租价
                            newData.name = "租价(元/月)";
                            newData.y = msg[j].cityRentprice;
                            cnt++;
                            data.push(newData)
                            continue;


                        }
                        if (cnt == 4) {
                            //组数
                            newData.name = "租数(间)";
                            newData.y = msg[j].cityRentnum;
                            cnt++;
                            data.push(newData)
                            continue;

                        }
                        if (cnt == 5) {
                            //职价
                            newData.name = "职业平均工资(元/月)";
                            newData.y = msg[j].averageTrendprice;
                            cnt++;
                            data.push(newData)
                            continue;

                        }
                        if (cnt == 6) {
                            //职数
                            newData.name = "职业数量(人)";
                            newData.y = msg[j].averageTrendnum;
                            cnt++;
                            data.push(newData)
                            continue;
                        }
                        if (cnt == 7) {
                            printSecond(data);
                            break;
                        }

                    }

                }


            });

            function printSecond(data) {
                <!--城区 平均租价-->
                Highcharts.chart('container_third', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '城市信息表'
                    },
                    subtitle: {
                        text: 'AverageRentPrice'
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: ''
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: '{point.y}'
                            }
                        }
                    },

                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
                    },

                    series: [
                        {
                            name: "TOP10",
                            colorByPoint: true,
                            data: data
                        }
                    ]
                });
            }

            //表4 城区 售价表

            //表5.表6 城区-职数-职价表
            $.ajax({
                type: "POST",
                url: "/dataController/Trend",
                success: function (msg) {
                    var data = [];
                    for (i = 0; i < msg.length; i++) {
                        var newData = {name: ' ', y: 11.84};
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            newData.name = msg[i].cityName + "-" + msg[i].trendName;
                            newData.y = msg[i].trendPrice;
                            data.push(newData)
                        }
                    }
                    <!--城区 平均租价-->
                    Highcharts.chart('container_fifth', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '职业工资排行'
                        },
                        subtitle: {
                            text: 'Salary'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: '工资（元/月）'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            series: {
                                borderWidth: 0,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.y}'
                                }
                            }
                        },

                        tooltip: {
                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
                        },

                        series: [
                            {
                                name: "TOP10",
                                colorByPoint: true,
                                data: data
                            }
                        ]

                    });

                    data = [];
                    for (i = 0; i < msg.length; i++) {
                        newData = {name: ' ', y: 11.84};
                        if (msg[i].cityName == d.substr(0, d.length - 1)) {
                            newData.name = msg[i].cityName + "-" + msg[i].trendName;
                            newData.y = msg[i].trendNum;
                            data.push(newData)
                        }
                    }
                    //表2 表4 城市平均售数量 城市平均售价
                    Highcharts.chart('container_sixth', {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: '软件相关职业方向份额'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                    style: {
                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'Brands',
                            colorByPoint: true,
                            data: data
                        }]
                    });
                }
            });//ajax
        });//documet.readyfunction

    }//function
</script>


</html>
