<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"; >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>layout 后台大布局 - Layui</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-body" style="margin-top: 20%;">
        <h style="font-size: 40px;margin-left: 20%;color: #00aebd;">欢迎使用职业与房价分析平台</h>
    </div>
</div>
</body>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;

});
</script>
</html>