<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>主页</title>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{framework/Echarts/code/modules/echarts-en.js}"></script>
    <script th:src="@{layui/layui.js}"></script>
    <script th:src="@{layui/lay/modules/layer.js}"></script>
    <link th:href="@{layui/css/layui.css}" rel="stylesheet"/>
    <style>
        #box {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .chart {
            width: 49%;
            height: 49%;
            padding: 3px;
        }
    </style>

</head>

<body class="layui-layout-body">
<div class="layui-body" style="left:25px;padding-top: 23px;overflow: hidden">
    <div id="box">
        <div id="rentPrice" class="chart"></div>
        <div id="rentNum" class="chart" ></div>
        <div id="soldPrice" class="chart"></div>
        <div id="soldNum" class="chart"></div>
    </div>
</div>
</body>

<script>
    let district = [];
    let rentPrice = [];
    let rentNum = [];
    let soldPrice = [];
    let soldNum = [];
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/dataController/Drent",
            success: function (msg) {
                for (let i = 0; i < msg.length; i++) {
                    district.push(msg[i].districtName);
                    rentPrice.push(msg[i].districtRentprice);
                    rentNum.push(msg[i].districtRentnum);
                }
                let dataShadow = [];
                for (let i = 0; i < rentPrice.length; i++) {
                    dataShadow.push(500);
                }
                let rentPriceChart = echarts.init(document.getElementById('rentPrice'));
                let rentNumChart = echarts.init(document.getElementById('rentNum'));
                <!--房租排行-->
                let option1 = {
                    title: {
                        text: "七大地区房租排行",
                        subtext: 'Rent ranking of seven regions'

                    },

                    xAxis: {
                        data: district,
                        textStyle: {
                            color: '#000'
                        },
                        axisTick: {
                            show: false
                        },
                        axisLine: {
                            show: false
                        },
                        title: {
                            text: "地区"
                        }
                    },
                    yAxis: {
                        axisLine: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#999'
                            }
                        }
                    },
                    dataZoom: [
                        {
                            type: 'inside'
                        }
                    ],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#000'
                            }
                        },
                        formatter: function (params) {
                            let firstParams = params[0];
                            let secondParams = params[1];
                            return firstParams.name + ':'+ secondParams.data;

                        }
                    },
                    grid: {
                        left: 50,
                        top: 78,
                        right: 40,
                        bottom: 40,
                    },
                    series: [
                        {
                            type: 'bar',
                            itemStyle: {
                                color: 'rgba(0,0,0,0.05)'
                            },
                            barGap: '-100%',
                            barCategoryGap: '40%',
                            data: dataShadow,
                            animation: false
                        },
                        {
                            type: 'bar',
                            itemStyle: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#83bff6'},
                                        {offset: 0.5, color: '#188df0'},
                                        {offset: 1, color: '#188df0'}
                                    ]
                                )
                            },
                            emphasis: {
                                itemStyle: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 1, color: '#83bff6'},
                                            {offset: 0.5, color: '#188df0'},
                                            {offset: 0, color: '#188df0'}
                                        ]
                                    )
                                }
                            },
                            data: rentPrice
                        }
                    ]
                };
                <!--租房数量占比-->
                let option2 = {
                    title: {
                        text: '七大地区租房数份额',
                        subtext: 'Share of rental housing in seven regions',
                    },

                    tooltip: {
                        trigger: 'item',
                        formatter: '{b} : {c} ({d}%)'
                    },
                    visualMap: {
                        show: false,
                        min: 80,
                        max: 600,
                        inRange: {
                            colorLightness: [0, 0.5]
                        }
                    },
                    grid: {
                        left: 50,
                        top: 78,
                        right: 40,
                        bottom: 40,
                    },
                    series: [
                        {
                            name: '份额',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '50%'],
                            data: [
                                {value: rentNum[0], name: district[0]},
                                {value: rentNum[1], name: district[1]},
                                {value: rentNum[2], name: district[2]},
                                {value: rentNum[3], name: district[3]},
                                {value: rentNum[4], name: district[4]},
                                {value: rentNum[5], name: district[5]},
                                {value: rentNum[6], name: district[6]}
                            ].sort(function (a, b) {
                                return a.value - b.value;
                            }),
                            roseType: 'radius',
                            label: {
                                color: '#000'
                            },
                            labelLine: {
                                lineStyle: {
                                    color: '#000'
                                },
                                smooth: 0.2,
                                length: 10,
                                length2: 20
                            },
                            animationType: 'scale',
                            animationEasing: 'elasticOut',
                        }
                    ]
                };
                rentPriceChart.setOption(option1);
                rentNumChart.setOption(option2);

                rentPriceChart.on('click', function () {
                        layui.use("layer", function(){
                            window.top.layer.open({
                                type: 1,
                                shadeClose: true,//点击遮罩关闭
                                shade: [0.3, '#000',true],
                                closeBtn:0,//删除关闭按钮
                                title: false,//删除标题
                                area: ['1200px', '800px'],
                                content:'<div id="fullChart" style="height:100%;width:100%;"></div>',
                                success:function(){
                                    let full = echarts.init(window.top.document.getElementById('fullChart'));
                                    full.setOption(option1);
                                }
                            });
                        })
                });
                rentNumChart.on('click', function () {
                    layui.use("layer", function(){
                        window.top.layer.open({
                            type: 1,
                            shadeClose: true,//点击遮罩关闭
                            shade: [0.3, '#000',true],
                            closeBtn:0,//删除关闭按钮
                            title: false,//删除标题
                            area: ['1200px', '800px'],
                            content:'<div id="fullChart" style="height:100%;width:100%;"></div>',
                            success:function(){
                                let full = echarts.init(window.top.document.getElementById('fullChart'));
                                full.setOption(option2);
                            }
                        });
                    })

                });
            }

        });
        $.ajax({
            type: "POST",
            url: "/dataController/Dsold",
            success: function (msg) {
                for (let i = 0; i < msg.length; i++) {
                    soldPrice.push(msg[i].districtSoldprice);
                    soldNum.push(msg[i].districtSoldnum);
                }
                let dataShadow = [];
                for (let i = 0; i < rentPrice.length; i++) {
                    dataShadow.push(500);
                }
                let soldPriceChart = echarts.init(document.getElementById('soldPrice'));
                let soldNumChart = echarts.init(document.getElementById('soldNum'));
                <!--房价排行-->
                let option3 = {
                    title: {
                        text: "七大地区房价排行",
                        subtext: 'House price ranking of seven regions'
                    },

                    xAxis: {
                        data: district,
                        textStyle: {
                            color: '#000'
                        },
                        axisTick: {
                            show: false
                        },
                        axisLine: {
                            show: false
                        },
                    },
                    yAxis: {
                        axisLine: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#999'
                            }
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#000'
                            }
                        },
                        formatter: function (params) {
                            let firstParams = params[0];
                            let secondParams = params[1];
                            return firstParams.name + ':'+ secondParams.data;

                        }
                    },
                    grid: {
                        left: 50,
                        top: 78,
                        right: 40,
                        bottom: 40,
                    },
                    dataZoom: [
                        {
                            type: 'inside'
                        }
                    ],
                    series: [
                        {
                            name: '房租',
                            type: 'bar',
                            itemStyle: {
                                color: 'rgba(0,0,0,0.05)'
                            },
                            barGap: '-100%',
                            barCategoryGap: '40%',
                            data: dataShadow,
                            animation: false
                        },
                        {
                            type: 'bar',
                            itemStyle: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#bce672'},
                                        {offset: 0.5, color: '#9ed048'},
                                        {offset: 1, color: '#96ce54'}
                                    ]
                                )
                            },
                            emphasis: {
                                itemStyle: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 1, color: '#bce672'},
                                            {offset: 0.5, color: '#9ed048'},
                                            {offset: 0, color: '#96ce54'}
                                        ]
                                    )
                                }
                            },
                            data: soldPrice
                        }
                    ]
                };

                <!--买房数量占比-->
                let option4 = {
                    title: {
                        text: '七大地区售房数份额',
                        subtext: 'Share of housing sales in seven regions',
                    },

                    tooltip: {
                        trigger: 'item',
                        formatter: '{b} : {c} ({d}%)'
                    },
                    visualMap: {
                        show: false,
                        min: 80,
                        max: 600,
                        inRange: {
                            colorLightness: [0, 0.5]
                        }
                    },
                    grid: {
                        left: 50,
                        top: 78,
                        right: 40,
                        bottom: 40,
                    },
                    series: [
                        {
                            name: '份额',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '50%'],
                            data: [
                                {value: soldNum[0], name: district[0]},
                                {value: soldNum[1], name: district[1]},
                                {value: soldNum[2], name: district[2]},
                                {value: soldNum[3], name: district[3]},
                                {value: soldNum[4], name: district[4]},
                                {value: soldNum[5], name: district[5]},
                                {value: soldNum[6], name: district[6]}
                            ].sort(function (a, b) {
                                return a.value - b.value;
                            }),
                            roseType: 'radius',
                            label: {
                                color: '#000'
                            },
                            labelLine: {
                                lineStyle: {
                                    color: '#000'
                                },
                                smooth: 0.2,
                                length: 10,
                                length2: 20
                            },

                            animationType: 'scale',
                            animationEasing: 'elasticOut',
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表

                soldPriceChart.setOption(option3);
                soldNumChart.setOption(option4);
                soldPriceChart.on('click', function () {
                    layui.use("layer", function() {
                        window.top.layer.open({
                            type: 1,
                            shadeClose: true,//点击遮罩关闭
                            shade: [0.3, '#000', true],
                            closeBtn: 0,//删除关闭按钮
                            title: false,//删除标题
                            area: ['1200px', '800px'],
                            content: '<div id="fullChart" style="height:100%;width:100%;"></div>',
                            success: function () {
                                let full = echarts.init(window.top.document.getElementById('fullChart'));
                                full.setOption(option3);
                            }
                        });
                    })

                });
                soldNumChart.on('click', function () {
                    layui.use("layer", function() {
                        window.top.layer.open({
                            type: 1,
                            shadeClose: true,//点击遮罩关闭
                            shade: [0.3, '#000', true],
                            closeBtn: 0,//删除关闭按钮
                            title: false,//删除标题
                            area: ['1200px', '800px'],
                            content: '<div id="fullChart" style="height:100%;width:100%;"></div>',
                            success: function () {
                                let full = echarts.init(window.top.document.getElementById('fullChart'));
                                full.setOption(option4);
                            }
                        });
                    })

                });
            }
        });


    });

</script>
<script>
</script>
</html>
