<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"; >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>layout 后台大布局 - Layui</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
</head>

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-body" style="left: 40px;">
            <div class="layui-card-body layui-form" style="height:120px">
                <br />
                <div class="layui-col-log-offset1 layui-input-inline">
                    <div class="form-inline layui-form" style="float:left;padding-right: 20px;">
                        <label style="color:#2061fc">城市：</label>
                         <select  name="cityName" lay-filter="city" id="city" lay-search="" lay-varify="select" style="color:#2061fc">
                            <option value="" placeholder="请选择"></option>
                            <option  th:each="c:${citys}"  th:value="${c}" th:text="${c}" value="0">北京市</option>
                        </select>
                    </div>

                    <div class="form-inline" style="float:left;padding-right: 20px;">
                        <label style="color:#2061fc">职业方向：</label>
                        <select name="trendName" lay-filter="trend" id="trend" lay-varify="select" style="color:#2061fc">
                            <option value="" placeholder="请选择"></option>
                            <option th:each="t:${trends}"  th:value="${t}" th:text="${t}" value="0">不定</option>
                        </select>
                    </div>

                    <div class="form-inline" style="float:left;padding-right: 20px;width: 400px;">
                        <label style="color:#2061fc">贷款倾向：</label>
                        <select name="analysisID" lay-filter="borrow" id="borrow" lay-varify="select" style="color:#2061fc">
                            <option value="" placeholder="请选择"></option>
                            <option th:each="a:${anas}"  th:value="${a.analysisID}" th:text="'首付'+ ${a.percent} + '%，还款' + ${a.years} + '年，利率' + ${a.rate} + '，房子面积为90平方米'" value="0">不贷款</option>

                        </select>
                    </div>

                    <div style="float:left;padding-right: 20px">
                        <br>
                        <button class="layui-btn" lay-submit lay-filter="formDemo">查看分析</button>
                    </div>

                </div>
                <br>
                <div id="container" style="width:450px;height:420px;position: relative;float: left ;margin: 2px"></div>
                <br>
                <div id="container1" style="width:420px;height:420px;position: relative;float: left ;margin: 60px">
                </div>
            </div>
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/framework/Highcharts/code/highcharts.js}"></script>
<script th:src="@{/framework/Highcharts/code/modules/exporting.js}"></script>
<script th:src="@{/framework/Highcharts/code/highcharts-more.js}"></script>
<script>
   //全国最高 写死
    var MaxSoldprice = 62000,
        MaxRentPrice = 5500,
        MaxMoney = 30000,
        MaxJobnum = 18000,
        MaxSoldnum = 110000,
        MaxRentNum = 90000;
    //传值部分



    function leidatu(res) {

       var Soldprice= res.citySoldprice,
        RentPrice= res.cityRentprice,
        Money=res.trend.trendPrice,
        Jobnum=res.trend.trendNum,
        Soldnum=res.citySoldnum,
        RentNum=res.cityRentnum;

        chart = new Highcharts.Chart({

            chart: {
                padding: 0,
                margin: 0,
                renderTo: 'container',
                polar: true,
                type: 'area',
                //backgroundColor: '#F2F2F2'
                plotBackgroundImage: "http://imgd3.laoyuegou.com/mayday/img/dota-news/bg_gray.jpg",
            },
            title: {
                text: '',
                x: -80
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            pane: {
                size: '85%',
                startAngle: 20,
                center: ['50%', '50%']
            },
            plotOptions: {
                area: {
                    fillOpacity: 0.30
                }
            },

            xAxis: {
                categories: ['房价', '房数', '租价','租数', '职价','职数'],
                tickmarkPlacement: 'on',
                lineWidth: 0,
                gridLineColor: '#D8D8D8',
                labels: {
                    style: {
                        color: '#B3B9C2',//B7F1E2
                    }
                },
                showFirstLabel: true
            },

            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0,
                max: 1,
                gridLineWidth: 1,
                gridLineColor: '#B3B9C2',
                plotBands: [{
                    color: '#F2F2F2',
                    borderColor: '#B3B9C2',
                    borderWidth: 1,
                    from: 0,
                    to: 0.1
                }, {
                    color: '#F2F2F2',
                    borderColor: '#B3B9C2',
                    borderWidth: 1,
                    from: 0.1,
                    to: 0.2
                }, {
                    color: '#F2F2F2',
                    borderColor: '#B3B9C2',
                    borderWidth: 1,
                    from: 0.2,
                    to: 0.3
                }, {
                    color: '#F2F2F2',
                    borderColor: '#B3B9C2',
                    borderWidth: 1,
                    from: 0.3,
                    to: 0.4
                },{
                    color: '#F2F2F2',
                    borderColor: '#B3B9C2',
                    borderWidth: 1,
                    from: 0.4,
                    to: 0.5
                }, {
                    color: '#F2F2F2',
                    borderColor: '#B3B9C2',
                    borderWidth: 1,
                    from: 0.5,
                    to: 0.6
                },{
                    color: '#F2F2F2',
                    borderColor: '#B3B9C2',
                    borderWidth: 1,
                    from: 0.6,
                    to: 0.7
                }, {
                    color: '#F2F2F2',
                    borderColor: '#B3B9C2',
                    borderWidth: 1,
                    from: 0.7,
                    to: 0.8
                },{
                    color: '#F2F2F2',
                    borderColor: '#B3B9C2',
                    borderWidth: 1,
                    from: 0.8,
                    to: 0.9
                }, {
                    color: '#F2F2F2',
                    borderColor: '#B3B9C2',
                    borderWidth: 1,
                    from: 0.9,
                    to: 1.0
                }],
                labels: {
                    enabled: false
                }
            },

            tooltip: {
                useHTML: true,
                backgroundColor: '#FFFFFF',
                borderWidth: 0,
                style: {
                    color: 'gray',
                    padding: '10px'
                }
            },

            legend: {
                enabled: false
            },

            series: [{
                data: [{
                    name: '房价',
                    y: 1-Soldprice/MaxSoldprice
                }, {
                    name: '房数',
                    y: Soldnum/MaxSoldnum
                }, {
                    name: '租价',
                    y:1-RentPrice/MaxRentPrice
                }, {
                    name: '租数',
                    y: RentNum/MaxRentNum
                },{
                    name: '职价',
                    y: Money/MaxMoney
                },{
                    name: '职数',
                    y:Jobnum/MaxJobnum
                }],
                pointPlacement: 'on',
                color: '#269783'
            }]

        });

        chart.series[0].points[0].onMouseOver();
    };

//JavaScript代码区域

layui.use('element', function(){
  var element = layui.element;
});
layui.use('form', function () {
                var form = layui.form;
                form.render();

        form.on('submit(formDemo)', function(obj){
              var field = obj.field;
              if (field.cityName == ""){
                    return layer.msg('请选择城市');
                    }
              if (field.trendName == ""){
                    return layer.msg('请选择职业方向');
                    }
              if(field.analysisID == ""){
                    return layer.msg('请选择贷款倾向');
                    }
        console.log(field);
        $.ajax({
        type: "POST"
        ,url: "/menuController/anaInfo" //实际使用请改成服务端真实接口
        ,data: field
        ,success: function(res){
          console.log(res);
          leidatu(res);
          var txt = "";
          txt = "<h2><center>" + res.cityName + "市数据分析</center></h2>"+
                "<p>" + res.cityName + "市，8月份" + res.trend.trendName + "职业发布的工作岗位共计" + res.trend.trendNum + "个，平均薪资为" + res.trend.trendPrice + "元/月。</p>"+
                "<h2><center>选择购房</center></h2>";
          if(res.data.percent == "100"){
                txt = txt +   "<p>按平均房价" + res.citySoldprice + "，购买90平米的自住房需" + res.citySoldprice*90 + "元</p>。";
                }
          else{
                txt = txt +
                "<p>按平均房价" + res.citySoldprice + "元/平米，利率" + res.data.rate + "，还贷" + res.data.years + "年，首付" + res.data.percent/10 + "成来计算，购买90平米的自住房的月供为" + res.mothPay + "元/月。预计占工资收入的" + res.soldPercent + "%。</p>";
               }
          txt = txt + "<h2><center>选择租房</center></h2>"+
                "<p>租房平均价格为" + res.cityRentprice + "元/月。预计占工资收入的" + res.rentPercent + "%。</p>";

           $("#container1").html(txt);
        }
      });

        });

});
</script>

</body>

</html>